<div class="container my-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="text-primary mb-0">Articles List</h2>
  </div>

  <div class="table-responsive shadow-sm rounded">
    <table class="table table-hover align-middle">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">address</th>
          <th scope="col" class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of articles; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ article.label }}</td>
          <td>{{ article.price }}</td>
          <td>{{ article.picture }}</td>
          <td>{{ article.provider }}</td>
          <td class="text-center">
            <button
              class="btn btn-sm btn-outline-primary me-2"
              (click)="editArticle(article)"
            >
              <i class="bi bi-pencil-square"></i> Edit
            </button>
            <button
              class="btn btn-sm btn-outline-danger"
              (click)="deleteArticle(article.id)"
            >
              <i class="bi bi-trash"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <hr class="my-4" />

  </div>